<div class="container" style="height: 100%;">
  <div class="row" style="height: 100%;">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          People
        </div>
        <div class="card-body">
          <ol id="UsersList"></ol>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="card" style="height: 90%;">
        <div class="card-body chat-body">
          <div class="chat"></div>
        </div>
      </div>
      <div id="messager">
        <form id="message-form">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn btn-success" type="submit">Send message</button>
              <button id="send-geolocation" class="btn btn-secondary" type="button">Send geolocation!</button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" name="messageText">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>