<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="chat"></div>

<form id="message-form">
    <input type="text" name="messageText" />
    <button>Send message</button>
</form>

<button id="send-geolocation">Send geolocation!</button>