<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io();
      socket.on('connect', () => {
        console.log('user connected to server');
      });

      socket.on('disconnect', () => {
        console.log('disconnected from server');
      });
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
