<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body>
  {{{body}}}
</body>

<script src="/jquery/jquery.slim.min.js"></script>
<script src="/popper/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/lib/deparam.js"></script>

</html>