<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script defer src="/jquery/jquery.slim.min.js"></script>
    <script defer src="/popper/popper.min.js"></script>
    <script defer src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/javascripts/client.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
